<!DOCTYPE html>
<html>
  <head>
    <title>Node JS Application</title>
  </head>
  <body>
    <div>
        <% if (user) { %>
            <h3>Logged in as <%= user.user_info.name %> 🎉</h3>
            <a href="/logout">Log out!</a>
        <% } else { %>
            <h3>Not Logged in!</h3>
            <a href="/login">Log In</a>
        <% } %>
    </div>
    <p>Welcome to the Node.js Application</p>
  </body>
</html>